{{#extend "PrimaryLayout"}}
  {{#content body}}
    <div class="form_login">
      <div class="f-header">
        Вход
      </div>
      <form onsubmit="event.preventDefault()">
        <div class="input_login">
          <div class="text-field text-field_floating-3">
            {{{Login}}}
            <label class="text-field__label">
              Логин
            </label>
          </div>
        </div>
        <div class="input_pass">
          <div class="text-field text-field_floating-3">
            {{{Password}}}
            <label class="text-field__label">
              Пароль
            </label>
          </div>
        </div>
        <div class="buttons">
          {{{ButtonLogin}}}
          {{{ButtonNextRegistration}}}
        </div>
      </form>
    </div>
    <div class="test_pages">
      {{{NotFound}}}
      {{{ErrorServer}}}
    </div>
  {{/content}}
{{/extend}}