<div class="text-field text-field_floating-3">
  <input
    class="text-field__input"
    type={{type}}
    id={{name}}
    name={{name}}
    placeholder={{placeholder}}
  />
  <label class="text-field__label" for={{for}}>
    {{label}}
  </label>
</div>