{{#extend "PrimaryLayout"}}
  {{#content body}}
    <div class="form_registration">
      <div class="f-header">
        Регистрация
      </div>
      <form class="form_registration_inputs" onsubmit="event.preventDefault()">
        <div class="text-field text-field_floating-3">
          {{{inputEmail}}}
          <label class="text-field__label">
            Почта
          </label>
        </div>
        <div class="text-field text-field_floating-3">
          {{{inputLogin}}}
          <label class="text-field__label">
            Логин
          </label>
        </div>
        <div class="text-field text-field_floating-3">
          {{{inputFirstName}}}
          <label class="text-field__label">
            Имя
          </label>
        </div>
        <div class="text-field text-field_floating-3">
          {{{inputLastName}}}
          <label class="text-field__label">
            Фамилия
          </label>
        </div>
        <div class="text-field text-field_floating-3">
          {{{inputPhone}}}
          <label class="text-field__label">
            Телефон
          </label>
        </div>
        <div class="text-field text-field_floating-3">
          {{{newPassword}}}
          <label class="text-field__label">
            Пароль
          </label>
        </div>
        <div class="text-field text-field_floating-3">
          {{{newPasswordTwo}}}
          <label class="text-field__label">
            Пароль (еще раз)
          </label>
        </div>
        <div class="form_registration_buttons">
          {{{buttonRegistration}}}
          {{{buttonNextLogin}}}
        </div>
      </form>
    </div>
  {{/content}}
{{/extend}}